/* 공통적인 색상이나 폰트 등의 전역 스타일을 위해 변수를 선언해두면 유지 보수가 편합니다. */
:root {
  --main-bg-color: #fff5e4;
  --main-border-color: #e5ccca;
  --main-text-color: #333;
  --hover-bg-color: #ffd1d1;
  --button-bg-color: #ffe3e1;
}

/* 전체 컨테이너 스타일 */
.productList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%; /* 가로폭 제한을 둬서 너무 넓게 퍼지지 않게 */
  margin: 0 auto;
  padding: 2rem;
  color: var(--main-text-color);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.title img {
  width: 5rem;
  height: 5rem;
}
.productList-container a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--main-text-color);
  border: 0.1rem solid var(--main-border-color);
  border-radius: 0.5rem;
  background-color: var(--button-bg-color);
  transition: background-color 0.3s ease;
}

.productList-container a:hover {
  background-color: var(--hover-bg-color);
}
.login-form {
  display: flex;
}

.login-section button {
  font-size: 1rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--main-border-color);
  border-radius: 0.5rem;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-form input {
  outline: none;
  border: 0.1rem solid var(--main-border-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
}
